# See https://github.com/bazelbuild/rules_docker/blob/6ea707babdcd54514e0884278ac624fb8bda19c1/docs/container.md
build --loading_phase_threads=1

build --conlyopt=-std=c{c_version}
build --host_conlyopt=-std=c{c_version}

build --cxxopt=-std=c++{cpp_version}
build --host_cxxopt=-std=c++{cpp_version}

build --java_language_version={java_version}
build --java_runtime_version=remotejdk_{java_version}
build --tool_java_language_version={java_version}
build --tool_java_runtime_version=remotejdk_{java_version}

# See https://github.com/bazelbuild/bazel/issues/6648#issuecomment-1133656002
build --incompatible_strict_action_env=true
# See https://github.com/bazelbuild/bazel/issues/7260
build --incompatible_enable_cc_toolchain_resolution=true

# See https://github.com/bazelbuild/bazel-toolchains/blob/b9bc541aae7bd8e09c6954e2e9da3f7ffe4f77f0/bazelrc/bazel-4.1.0.bazelrc
## Remote Build Execution
build:remote_common --remote_executor=grpc://build.boleyn.su:8980
build:remote_common --remote_instance_name=remote-monorepo
build:remote_common --remote_timeout=3600
## Platform
### See https://github.com/bazelbuild/rules_docker/blob/v0.24.0/platforms/BUILD
build:remote_common --extra_execution_platforms=@boleynsu_org//configs/build/platforms:rbe-ubuntu18-04_platform
## Toolchain
### See https://github.com/bazelbuild/rules_docker/blob/v0.24.0/toolchains/BUILD
build:remote_common --extra_toolchains=@boleynsu_org//configs/build/toolchains:rbe-ubuntu18-04_cc_toolchain
## Misc
build:remote_common --jobs=24
### FIXME(https://github.com/bazelbuild/bazel/issues/12712)
build --crosstool_top=@boleynsu_org//third_party/rbe-ubuntu18-04/cc:toolchain

build:remote --config=remote_common
build:remote --remote_download_minimal

build:remote_toplevel --config=remote_common
build:remote_toplevel --remote_download_toplevel

build:remote_all --config=remote_common

try-import %workspace%/configs/bazel/lint.bazelrc
